In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import importlib
import data_cleaning as dc
%matplotlib inline

Tables of interest:
* imdb.title.basics  (for genres)
* imdb.title.ratings (for average ratings)
* bom.movie_gross (for studios)
* tn.movie_budgets (for budgets and worldwide gross)

## Import tables of interest

function `df_from_movie_csv` loads csv.gz by tablename into dataframe, setting index, converting date fields to date time, converting dollar fields to numeric.

In [121]:

import_tables = ['imdb.title.basics','imdb.title.ratings','bom.movie_gross','tn.movie_budgets']
dfs = {}
for table_name in import_tables:
    dfs[table_name] = dc.df_from_movie_csv(table_name)

function `clean_movie_df` standardizes field names, adds a `year` column if appropriate, and filters results to 2010-2018.

In [156]:
importlib.reload(dc)
for table_name in import_tables:
    dfs[table_name] = dc.clean_movie_df(dfs[table_name],table_name)

## Join tables

### IMDB

Join the two `imdb` dataframes. They join directly on index, no error-checking required.

In [157]:
imdb_title_ratings_df = dfs['imdb.title.basics'].join(dfs['imdb.title.ratings'])

In [84]:
imdb_title_ratings_df.size

1023008

In [158]:
imdb_title_ratings_df.head()

,title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
tconst,,,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77.0
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43.0
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13.0
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119.0

There are a lot of movies with the same `primary_title`. Dedupe by restricting to the entry with the highest `numvotes`.

In [ ]:
imdb_title_ratings_df = dc.select_max_rows_on_key_column(imdb_title_ratings_df, 
                                                         key_column='title', 
                                                         max_column='numvotes')

In [133]:
imdb_title_ratings_df.shape[0]

136071

### Box Office Mojo

In [134]:
bom_df = dfs['bom.movie_gross']
bom_df = dc.select_max_rows_on_key_column(bom_df,key_column='title',max_column='domestic_gross')
bom_df.shape[0]

3386

Join the `imdb` dataframe with the `bom` dataframe on (English-language) movie title. This misses some big movies (title conventions are not identical).

In [140]:
importlib.reload(dc)
imdb_bom_df = dc.join_dfs_on_key_col(imdb_title_ratings_df,bom_df,on='title')
imdb_bom_df.shape[0]

2605

Our matching by title has a success rate of 2605/3386 (77%).

### The Numbers

In [144]:
tn_df = dfs['tn.movie_budgets']
tn_df.head()

,release_date,title,production_budget,domestic_gross,worldwide_gross,year
id,,,,,,
2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,2011
4,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,2015
5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,2017
6,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000.0,936662225.0,2.053311e+09,2015
7,2018-04-27,Avengers: Infinity War,300000000.0,678815482.0,2.048134e+09,2018

Join the `imdb_bom` dataframe with the `tn` dataframe on title and release year.

In [154]:
df = dc.join_dfs_on_key_col(imdb_bom_df.drop(columns=['domestic_gross','foreign_gross']),tn_df,on=['title','year'])

In [146]:
df.shape[0]

1135

In [147]:
df.head()

,title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,year,release_date,production_budget,domestic_gross,worldwide_gross
tconst,,,,,,,,,,,,,
tt1179933,10 Cloverfield Lane,10 Cloverfield Lane,2016,103.0,"Drama,Horror,Mystery",7.2,260383.0,Par.,2016,2016-03-11,5000000.0,72082999.0,108286422.0
tt1413492,12 Strong,12 Strong,2018,130.0,"Action,Drama,History",6.6,50155.0,WB,2018,2018-01-19,35000000.0,45819713.0,71118378.0
tt2024544,12 Years a Slave,12 Years a Slave,2013,134.0,"Biography,Drama,History",8.1,577301.0,FoxS,2013,2013-10-18,20000000.0,56671993.0,181025343.0
tt1542344,127 Hours,127 Hours,2010,94.0,"Adventure,Biography,Drama",7.6,323949.0,FoxS,2010,2010-11-05,18000000.0,18335230.0,60217171.0
tt2059171,13 Sins,13 Sins,2014,93.0,"Horror,Thriller",6.3,29550.0,RTWC,2014,2014-04-18,4000000.0,9134.0,47552.0

In [155]:
nfs = ['production_budget','domestic_gross','worldwide_gross']
df[nfs] = df[nfs] / 1000000
df

,title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,year,release_date,production_budget,domestic_gross,worldwide_gross
tconst,,,,,,,,,,,,,
tt1179933,10 Cloverfield Lane,10 Cloverfield Lane,2016,103.0,"Drama,Horror,Mystery",7.2,260383.0,Par.,2016,2016-03-11,5.00,72.082999,108.286422
tt1413492,12 Strong,12 Strong,2018,130.0,"Action,Drama,History",6.6,50155.0,WB,2018,2018-01-19,35.00,45.819713,71.118378
tt2024544,12 Years a Slave,12 Years a Slave,2013,134.0,"Biography,Drama,History",8.1,577301.0,FoxS,2013,2013-10-18,20.00,56.671993,181.025343
tt1542344,127 Hours,127 Hours,2010,94.0,"Adventure,Biography,Drama",7.6,323949.0,FoxS,2010,2010-11-05,18.00,18.335230,60.217171
tt2059171,13 Sins,13 Sins,2014,93.0,"Horror,Thriller",6.3,29550.0,RTWC,2014,2014-04-18,4.00,0.009134,0.047552
tt1272878,2 Guns,2 Guns,2013,109.0,"Action,Comedy,Crime",6.7,182025.0,Uni.,2013,2013-08-02,61.00,75.612460,132.493015
tt1232829,21 Jump Street,21 Jump Street,2012,109.0,"Action,Comedy,Crime",7.2,477771.0,Sony,2012,2012-03-16,42.00,138.447667,202.812429
tt2294449,22 Jump Street,22 Jump Street,2014,112.0,"Action,Comedy,Crime",7.0,319504.0,Sony,2014,2014-06-13,50.00,191.719337,331.333876
tt2172934,3 Days to Kill,3 Days to Kill,2014,117.0,"Action,Drama,Thriller",6.2,81681.0,Rela.,2014,2014-02-21,28.00,30.697999,38.959900
tt1622547,30 Minutes or Less,30 Minutes or Less,2011,83.0,"Action,Comedy,Crime",6.1,87254.0,Sony,2011,2011-08-12,28.00,37.053924,40.966716
tt1335975,47 Ronin,47 Ronin,2013,128.0,"Action,Adventure,Drama",6.3,135754.0,Uni.,2013,2013-12-25,175.00,38.362475,151.716815
tt1486193,5 Days of War,5 Days of War,2011,113.0,"Action,Drama,War",5.6,13089.0,Anch.,2011,2011-08-19,12.00,0.017479,0.087793
tt1306980,50/50,50/50,2011,100.0,"Comedy,Drama,Romance",7.7,300475.0,Sum.,2011,2011-09-30,8.00,35.016118,41.334735
tt6359956,A Bad Moms Christmas,A Bad Moms Christmas,2017,104.0,"Adventure,Comedy",5.5,33056.0,STX,2017,2017-11-01,28.00,72.110659,127.710550
tt1554091,A Better Life,A Better Life,2011,98.0,"Drama,Romance",7.2,14602.0,Sum.,2011,2011-06-24,10.00,1.759252,1.884251
tt1571222,A Dangerous Method,A Dangerous Method,2011,99.0,"Biography,Drama,Romance",6.4,93259.0,SPC,2011,2011-11-23,20.00,5.702083,14.807531
tt6265828,A Ghost Story,A Ghost Story,2017,92.0,"Drama,Fantasy,Romance",6.8,46280.0,A24,2017,2017-07-07,0.10,1.594798,2.769782
tt1606378,A Good Day to Die Hard,A Good Day to Die Hard,2013,98.0,"Action,Thriller",5.3,188383.0,Fox,2013,2013-02-14,92.00,67.349198,304.249198
tt2243537,A Haunted House,A Haunted House,2013,86.0,"Comedy,Fantasy",5.1,40308.0,ORF,2013,2013-01-11,2.50,40.041683,59.922558
tt2828996,A Haunted House 2,A Haunted House 2,2014,86.0,"Comedy,Fantasy",4.7,18085.0,ORF,2014,2014-04-18,4.00,17.329487,21.206861
tt2980210,A Hologram for the King,A Hologram for the King,2016,98.0,"Comedy,Drama,Romance",6.1,36062.0,RAtt.,2016,2016-04-22,35.00,4.212494,11.846010
tt1440161,A Little Bit of Heaven,A Little Bit of Heaven,2011,106.0,"Comedy,Drama,Fantasy",6.3,26441.0,MNE,2012,2012-05-04,12.50,0.010011,1.100287
tt2937898,A Most Violent Year,A Most Violent Year,2014,125.0,"Crime,Drama,Thriller",7.0,60165.0,A24,2014,2014-12-31,20.00,5.749134,8.846875
tt1972571,A Most Wanted Man,A Most Wanted Man,2014,122.0,"Crime,Drama,Thriller",6.8,67914.0,RAtt.,2014,2014-07-25,15.00,17.237855,36.068890
tt6644200,A Quiet Place,A Quiet Place,2018,90.0,"Drama,Horror,Sci-Fi",7.6,305031.0,Par.,2018,2018-04-06,17.00,188.024361,334.522294
tt7040874,A Simple Favor,A Simple Favor,2018,117.0,"Comedy,Crime,Drama",6.9,83338.0,LGF,2018,2018-09-14,20.00,53.548586,97.628717
tt3606888,A Street Cat Named Bob,A Street Cat Named Bob,2016,103.0,"Biography,Comedy,Drama",7.4,23204.0,Cleopatra,2016,2016-11-18,8.00,0.082703,17.382693
tt0763831,A Thousand Words,A Thousand Words,2012,91.0,"Comedy,Drama",5.9,36387.0,P/DW,2012,2012-03-09,40.00,18.450127,20.790486
tt1268799,A Very Harold & Kumar 3D Christmas,A Very Harold & Kumar 3D Christmas,2011,90.0,"Adventure,Comedy",6.3,62151.0,WB,2011,2011-11-04,20.00,35.061031,36.265745
tt0365907,A Walk Among the Tombstones,A Walk Among the Tombstones,2014,114.0,"Action,Crime,Drama",6.5,105116.0,Uni.,2014,2014-09-19,28.00,26.017685,62.108587
...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt1072748,Winchester,Winchester,2018,99.0,"Biography,Drama,Fantasy",5.4,24351.0,LGF,2018,2018-02-02,3.50,25.091816,44.378040
tt1449283,Winnie the Pooh,Winnie the Pooh,2011,63.0,"Adventure,Animation,Comedy",7.2,19605.0,BV,2011,2011-07-15,30.00,26.692846,50.145607
tt1399683,Winter's Bone,Winter's Bone,2010,100.0,"Drama,Mystery",7.2,127751.0,RAtt.,2010,2010-06-11,2.00,6.531503,16.131551
tt2870708,Wish I Was Here,Wish I Was Here,2014,106.0,"Comedy,Drama",6.7,34907.0,Focus,2014,2014-07-18,6.00,3.591299,6.591365
tt5322012,Wish Upon,Wish Upon,2017,90.0,"Drama,Fantasy,Horror",5.0,14962.0,BG,2017,2017-07-14,12.00,14.301505,23.477345
tt1403241,Wolves,Wolves,2014,91.0,"Action,Fantasy,Horror",5.3,7312.0,KE,2014,2014-11-14,18.00,0.000000,0.094953
tt2404425,Woman in Gold,Woman in Gold,2015,109.0,"Biography,Drama,History",7.3,48501.0,Wein.,2015,2015-04-01,11.00,33.307793,58.586407
tt1870529,Won't Back Down,Won't Back Down,2012,121.0,Drama,6.4,5915.0,Fox,2012,2012-09-28,19.00,5.310554,5.745503
tt2543472,Wonder,Wonder,2017,113.0,"Drama,Family",8.0,111632.0,LGF,2017,2017-11-17,20.00,132.422809,304.604712
tt0451279,Wonder Woman,Wonder Woman,2017,141.0,"Action,Adventure,Fantasy",7.5,487527.0,WB,2017,2017-06-02,150.00,412.563408,821.133378
tt4183692,Woodlawn,Woodlawn,2015,123.0,"Drama,Sport",6.5,6070.0,PFR,2015,2015-10-16,13.00,14.394097,14.403703
tt0816711,World War Z,World War Z,2013,116.0,"Action,Adventure,Horror",7.0,553751.0,Par.,2013,2013-06-21,190.00,202.359711,531.514650
tt1646987,Wrath of the Titans,Wrath of the Titans,2012,99.0,"Action,Adventure,Fantasy",5.7,172330.0,WB,2012,2012-03-30,150.00,83.670083,305.270083
tt1772341,Wreck-It Ralph,Wreck-It Ralph,2012,101.0,"Adventure,Animation,Comedy",7.7,344496.0,BV,2012,2012-11-02,165.00,189.412677,496.511521
tt3385516,X-Men: Apocalypse,X-Men: Apocalypse,2016,144.0,"Action,Adventure,Sci-Fi",7.0,356556.0,Fox,2016,2016-05-27,178.00,155.442489,542.537546
tt1877832,X-Men: Days of Future Past,X-Men: Days of Future Past,2014,132.0,"Action,Adventure,Sci-Fi",8.0,620079.0,Fox,2014,2014-05-23,200.00,233.921534,747.862775
tt1270798,X-Men: First Class,X: First Class,2011,131.0,"Action,Adventure,Sci-Fi",7.7,608930.0,Fox,2011,2011-06-03,160.00,146.408305,355.408305
tt2178470,Yeh Jawaani Hai Deewani,Yeh Jawaani Hai Deewani,2013,160.0,"Comedy,Drama,Musical",7.1,33971.0,Eros,2013,2013-05-31,8.30,3.827466,50.827466
tt1302067,Yogi Bear,Yogi Bear,2010,80.0,"Adventure,Animation,Comedy",4.6,18934.0,WB,2010,2010-12-17,80.00,100.246011,204.774690
tt1414382,You Again,You Again,2010,105.0,"Comedy,Family,Romance",5.8,46690.0,BV,2010,2010-09-24,20.00,25.702053,32.838945
tt1182350,You Will Meet a Tall Dark Stranger,You Will Meet a Tall Dark Stranger,2010,98.0,"Comedy,Drama,Romance",6.3,41608.0,SPC,2010,2010-09-22,15.00,3.247816,34.247816
tt1853739,You're Next,You're Next,2011,95.0,"Action,Comedy,Horror",6.6,79451.0,LGF,2013,2013-08-23,1.00,18.494006,26.887177
tt1625346,Young Adult,Young Adult,2011,94.0,"Comedy,Drama",6.3,74071.0,Par.,2011,2011-12-09,12.00,16.311571,22.750356
tt1240982,Your Highness,Your Highness,2011,102.0,"Adventure,Comedy,Fantasy",5.5,92940.0,Uni.,2011,2011-04-08,50.00,21.596445,26.121638
tt1742336,Your Sister's Sister,Your Sister's Sister,2011,90.0,"Comedy,Drama",6.7,24780.0,IFC,2012,2012-06-15,0.12,1.597486,3.090593
tt3312830,Youth,Youth,2015,124.0,"Comedy,Drama,Music",7.3,64418.0,FoxS,2015,2015-12-04,13.00,2.703296,24.001573
tt1790885,Zero Dark Thirty,Zero Dark Thirty,2012,157.0,"Drama,Thriller",7.4,251072.0,Sony,2012,2012-12-19,52.50,95.720716,134.612435
tt1222817,Zookeeper,Zookeeper,2011,102.0,"Comedy,Family,Romance",5.2,52396.0,Sony,2011,2011-07-08,80.00,80.360866,170.805525
tt1608290,Zoolander 2,Zoolander 2,2016,101.0,Comedy,4.7,59914.0,Par.,2016,2016-02-12,50.00,28.848693,55.348693
tt2948356,Zootopia,Zootopia,2016,108.0,"Adventure,Animation,Comedy",8.0,383446.0,BV,2016,2016-03-04,150.00,341.268248,1019.429616