In [ ]:
!ls

In [ ]:
!ls annex

In [31]:
!ls annex/data

bom.movie_gross.csv.gz       imdb.title.ratings.csv.gz
head.rt.movie_info.tsv       rt.movie_info.tsv
imdb.name.basics.csv.gz      rt.movie_info.tsv.gz
imdb.title.akas.csv.gz       rt.reviews.tsv.gz
imdb.title.basics.csv.gz     tmdb.movies.csv.gz
imdb.title.crew.csv.gz       tn.movie_budgets.csv.gz
imdb.title.principals.csv.gz

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import importlib
import data_cleaning
from data_cleaning import *
%matplotlib inline

# Import tables one at a time

## Import Box Office Mojo table

In [12]:
bom_movie_gross = df_from_movie_csv('bom.movie_gross')

In [13]:
bom_movie_gross.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

## Import IMDB Tables

In [14]:
imdb_name_basics = df_from_movie_csv('imdb.name.basics')
imdb_name_basics.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [15]:
imdb_title_files = ['akas','basics','crew','principals','ratings']
imdb=dict()
for f in imdb_title_files:
    fname = 'imdb.title.'+f
    imdb[f]=df_from_movie_csv(fname)

In [16]:
for f in imdb_title_files:
    print("**",f,"**\n",imdb[f].head())

** akas **
     title_id  ordering                                    title region  \
0  tt0369610        10                            Джурасик свят     BG
1  tt0369610        11                        Jurashikku warudo     JP
2  tt0369610        12  Jurassic World: O Mundo dos Dinossauros     BR
3  tt0369610        13                  O Mundo dos Dinossauros     BR
4  tt0369610        14                           Jurassic World     FR

  language        types   attributes  is_original_title
0       bg          NaN          NaN                0.0
1      NaN  imdbDisplay          NaN                0.0
2      NaN  imdbDisplay          NaN                0.0
3      NaN          NaN  short title                0.0
4      NaN  imdbDisplay          NaN                0.0
** basics **
       tconst                    primary_title              original_title  \
0  tt0063540                        Sunghursh                   Sunghursh
1  tt0066787  One Day Before the Rainy Season             Ashad Ka Ek Din
2  tt0069049       The Other Side of the Wind  The Other Side of the Wind
3  tt0069204                  Sabse Bada Sukh             Sabse Bada Sukh
4  tt0100275         The Wandering Soap Opera       La Telenovela Errante

   start_year  runtime_minutes                genres
0        2013            175.0    Action,Crime,Drama
1        2019            114.0       Biography,Drama
2        2018            122.0                 Drama
3        2018              NaN          Comedy,Drama
4        2017             80.0  Comedy,Drama,Fantasy
** crew **
       tconst                      directors              writers
0  tt0285252                      nm0899854            nm0899854
1  tt0438973                            NaN  nm0175726,nm1802864
2  tt0462036                      nm1940585            nm1940585
3  tt0835418                      nm0151540  nm0310087,nm0841532
4  tt0878654  nm0089502,nm2291498,nm2292011            nm0284943
** principals **
       tconst  ordering     nconst  category       job        characters
0  tt0111414         1  nm0246005     actor       NaN       ["The Man"]
1  tt0111414         2  nm0398271  director       NaN               NaN
2  tt0111414         3  nm3739909  producer  producer               NaN
3  tt0323808        10  nm0059247    editor       NaN               NaN
4  tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]
** ratings **
        tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

## Import Rotten Tomatoes tables

In [17]:
rt_files = ['movie_info','reviews']
rt = dict()
for f in rt_files:
    fname = 'rt.'+f
    rt[f]=df_from_movie_csv(fname)

In [18]:
for f in rt_files:
    print("**",f,"**\n",rt[f].head())

** movie_info **
    id                                           synopsis rating  \
0   1  This gritty, fast-paced, and innovative police...      R
1   3  New York City, not-too-distant-future: Eric Pa...      R
2   5  Illeana Douglas delivers a superb performance ...      R
3   6  Michael Douglas runs afoul of a treacherous su...      R
4   7                                                NaN     NR

                                 genre          director  \
0  Action and Adventure|Classics|Drama  William Friedkin
1    Drama|Science Fiction and Fantasy  David Cronenberg
2    Drama|Musical and Performing Arts    Allison Anders
3           Drama|Mystery and Suspense    Barry Levinson
4                        Drama|Romance    Rodney Bennett

                            writer theater_date   dvd_date currency  \
0                   Ernest Tidyman   1971-10-09 2001-09-25      NaN
1     David Cronenberg|Don DeLillo   2012-08-17 2013-01-01        $
2                   Allison Anders   1996-09-13 2000-04-18      NaN
3  Paul Attanasio|Michael Crichton   1994-12-09 1997-08-27      NaN
4                     Giles Cooper          NaT        NaT      NaN

  box_office      runtime             studio
0        NaN  104 minutes                NaN
1    600,000  108 minutes  Entertainment One
2        NaN  116 minutes                NaN
3        NaN  128 minutes                NaN
4        NaN  200 minutes                NaN
** reviews **
    id                                             review rating   fresh  \
0   3  A distinctly gallows take on contemporary fina...    3/5   fresh
1   3  It's an allegory in search of a meaning that n...    NaN  rotten
2   3  ... life lived in a bubble in financial dealin...    NaN   fresh
3   3  Continuing along a line introduced in last yea...    NaN   fresh
4   3             ... a perverse twist on neorealism...     NaN   fresh

           critic  top_critic         publisher       date
0      PJ Nabarro           0   Patrick Nabarro 2018-11-10
1  Annalee Newitz           0           io9.com 2018-05-23
2    Sean Axmaker           0  Stream on Demand 2018-01-04
3   Daniel Kasman           0              MUBI 2017-11-16
4             NaN           0      Cinema Scope 2017-10-12

It appears the Rotten Tomatoes files very unhelpfully do not include the movie title.

## Import TheMovieDB.org table

In [30]:
tmdb_movies = df_from_movie_csv('tmdb.movies')
tmdb_movies.head()

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

## Import TheNumbers.com table

In [25]:
tn_movie_budgets = df_from_movie_csv('tn.movie_budgets')
tn_movie_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,2009-12-18,Avatar,425000000.0,760507625.0,2.776345e+09
1,2,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09
2,3,2019-06-07,Dark Phoenix,350000000.0,42762350.0,1.497624e+08
3,4,2015-05-01,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09
4,5,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09

# Import all tables at once

In [47]:
importlib.reload(data_cleaning)
from data_cleaning import *
dfs = {}
for table_name in TABLE_FORMATS.keys():
    dfs[table_name] = df_from_movie_csv(table_name)

In [48]:
for df in dfs:
    print("**",df,"**\n",dfs[df].head())

** bom.movie_gross **
                                          title studio  domestic_gross  \
0                                  Toy Story 3     BV     415000000.0
1                   Alice in Wonderland (2010)     BV     334200000.0
2  Harry Potter and the Deathly Hallows Part 1     WB     296000000.0
3                                    Inception     WB     292600000.0
4                          Shrek Forever After   P/DW     238700000.0

  foreign_gross  year
0     652000000  2010
1     691300000  2010
2     664300000  2010
3     535700000  2010
4     513900000  2010
** imdb.name.basics **
                 primary_name  birth_year  death_year  \
nconst
nm0061671  Mary Ellen Bauder         NaN         NaN
nm0061865       Joseph Bauer         NaN         NaN
nm0062070         Bruce Baum         NaN         NaN
nm0062195       Axel Baumann         NaN         NaN
nm0062798        Pete Baxter         NaN         NaN

                                         primary_profession  \
nconst
nm0061671         miscellaneous,production_manager,producer
nm0061865        composer,music_department,sound_department
nm0062070                        miscellaneous,actor,writer
nm0062195  camera_department,cinematographer,art_department
nm0062798  production_designer,art_department,set_decorator

                                  known_for_titles
nconst
nm0061671  tt0837562,tt2398241,tt0844471,tt0118553
nm0061865  tt0896534,tt6791238,tt0287072,tt1682940
nm0062070  tt1470654,tt0363631,tt0104030,tt0102898
nm0062195  tt0114371,tt2004304,tt1618448,tt1224387
nm0062798  tt0452644,tt0452692,tt3458030,tt2178256
** imdb.title.basics **
                              primary_title              original_title  \
tconst
tt0063540                        Sunghursh                   Sunghursh
tt0066787  One Day Before the Rainy Season             Ashad Ka Ek Din
tt0069049       The Other Side of the Wind  The Other Side of the Wind
tt0069204                  Sabse Bada Sukh             Sabse Bada Sukh
tt0100275         The Wandering Soap Opera       La Telenovela Errante

           start_year  runtime_minutes                genres
tconst
tt0063540        2013            175.0    Action,Crime,Drama
tt0066787        2019            114.0       Biography,Drama
tt0069049        2018            122.0                 Drama
tt0069204        2018              NaN          Comedy,Drama
tt0100275        2017             80.0  Comedy,Drama,Fantasy
** imdb.title.crew **
                                directors              writers
tconst
tt0285252                      nm0899854            nm0899854
tt0438973                            NaN  nm0175726,nm1802864
tt0462036                      nm1940585            nm1940585
tt0835418                      nm0151540  nm0310087,nm0841532
tt0878654  nm0089502,nm2291498,nm2292011            nm0284943
** imdb.title.principals **
            ordering     nconst  category       job        characters
tconst
tt0111414         1  nm0246005     actor       NaN       ["The Man"]
tt0111414         2  nm0398271  director       NaN               NaN
tt0111414         3  nm3739909  producer  producer               NaN
tt0323808        10  nm0059247    editor       NaN               NaN
tt0323808         1  nm3579312   actress       NaN  ["Beth Boothby"]
** imdb.title.ratings **
             averagerating  numvotes
tconst
tt10356526            8.3        31
tt10384606            8.9       559
tt1042974             6.4        20
tt1043726             4.2     50352
tt1060240             6.5        21
** imdb.title.akas **
            ordering                                    title region language  \
title_id
tt0369610        10                            Джурасик свят     BG       bg
tt0369610        11                        Jurashikku warudo     JP      NaN
tt0369610        12  Jurassic World: O Mundo dos Dinossauros     BR      NaN
tt0369610        13                  O Mundo dos Dinossauros     BR      NaN
tt0369610        14                           Jurassic World     FR      NaN

                 types   attributes  is_original_title
title_id
tt0369610          NaN          NaN                0.0
tt0369610  imdbDisplay          NaN                0.0
tt0369610  imdbDisplay          NaN                0.0
tt0369610          NaN  short title                0.0
tt0369610  imdbDisplay          NaN                0.0
** rt.movie_info **
                                              synopsis rating  \
id
1   This gritty, fast-paced, and innovative police...      R
3   New York City, not-too-distant-future: Eric Pa...      R
5   Illeana Douglas delivers a superb performance ...      R
6   Michael Douglas runs afoul of a treacherous su...      R
7                                                 NaN     NR

                                  genre          director  \
id
1   Action and Adventure|Classics|Drama  William Friedkin
3     Drama|Science Fiction and Fantasy  David Cronenberg
5     Drama|Musical and Performing Arts    Allison Anders
6            Drama|Mystery and Suspense    Barry Levinson
7                         Drama|Romance    Rodney Bennett

                             writer theater_date   dvd_date currency  \
id
1                    Ernest Tidyman   1971-10-09 2001-09-25      NaN
3      David Cronenberg|Don DeLillo   2012-08-17 2013-01-01        $
5                    Allison Anders   1996-09-13 2000-04-18      NaN
6   Paul Attanasio|Michael Crichton   1994-12-09 1997-08-27      NaN
7                      Giles Cooper          NaT        NaT      NaN

   box_office      runtime             studio
id
1         NaN  104 minutes                NaN
3     600,000  108 minutes  Entertainment One
5         NaN  116 minutes                NaN
6         NaN  128 minutes                NaN
7         NaN  200 minutes                NaN
** rt.reviews **
                                                review rating   fresh  \
id
3   A distinctly gallows take on contemporary fina...    3/5   fresh
3   It's an allegory in search of a meaning that n...    NaN  rotten
3   ... life lived in a bubble in financial dealin...    NaN   fresh
3   Continuing along a line introduced in last yea...    NaN   fresh
3              ... a perverse twist on neorealism...     NaN   fresh

            critic  top_critic         publisher       date
id
3       PJ Nabarro           0   Patrick Nabarro 2018-11-10
3   Annalee Newitz           0           io9.com 2018-05-23
3     Sean Axmaker           0  Stream on Demand 2018-01-04
3    Daniel Kasman           0              MUBI 2017-11-16
3              NaN           0      Cinema Scope 2017-10-12
** tmdb.movies **
                  genre_ids original_language  \
id
12444      [12, 14, 10751]                en
10191  [14, 12, 16, 10751]                en
10138        [12, 28, 878]                en
862        [16, 35, 10751]                en
27205        [28, 878, 12]                en

                                     original_title  popularity release_date  \
id
12444  Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
10191                      How to Train Your Dragon      28.734   2010-03-26
10138                                    Iron Man 2      28.515   2010-05-07
862                                       Toy Story      28.005   1995-11-22
27205                                     Inception      27.920   2010-07-16

                                              title  vote_average  vote_count
id
12444  Harry Potter and the Deathly Hallows: Part 1           7.7       10788
10191                      How to Train Your Dragon           7.7        7610
10138                                    Iron Man 2           6.8       12368
862                                       Toy Story           7.9       10174
27205                                     Inception           8.3       22186
** tn.movie_budgets **
    release_date                                        movie  \
id
1    2009-12-18                                       Avatar
2    2011-05-20  Pirates of the Caribbean: On Stranger Tides
3    2019-06-07                                 Dark Phoenix
4    2015-05-01                      Avengers: Age of Ultron
5    2017-12-15            Star Wars Ep. VIII: The Last Jedi

    production_budget  domestic_gross  worldwide_gross
id
1         425000000.0     760507625.0     2.776345e+09
2         410600000.0     241063875.0     1.045664e+09
3         350000000.0      42762350.0     1.497624e+08
4         330600000.0     459005868.0     1.403014e+09
5         317000000.0     620181382.0     1.316722e+09

In [49]:
mdf = dfs['imdb.title.basics'].copy()

In [50]:
mdf[mdf.original_title=='Moonlight']

          primary_title original_title  start_year  runtime_minutes  genres
tconst
tt4975722     Moonlight      Moonlight        2016            111.0   Drama
tt5934182     Moonlight      Moonlight        2011             87.0  Horror